{% extends 'base.html' %}

  <h3>News highlights</h3>
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
{% block content %}
  {% for article in articles %}
    <div class="row">


        <img  class="col-md-4" src="{{article.picture}}" alt="image" >
        <div class="col-md-8"><h4 >
            <a href="{{article.link}}">{{article.title}}</a></h4>
            <p >{{article.description}}</p>
            <p >{{article.time}}</p>
        </div>
    </div>
  {% endfor %}
{% endblock %}